<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <center>
    <h2>Click the button to view data</h2>
    <br><br><br>
    <span style="display: flex;margin-left: auto;margin-right: auto;width: 40%;padding: 10px;text-align: center;">
        <form action="/uploadCSV">
            <button type="submit" class="btn btn-outline-dark">Click to load CSV into SQL</button>
        </form>
        <form action="/emptyDatabase" method="GET">
            <button type="submit" class="btn btn-outline-dark">Click to empty the database</button>
        </form>
    </span>
    <br><br><br>
    <h3>Metrics Table</h3>
        <table class="table table-dark table-striped" style="width:50%">
            <tr>
                <th>ID</th>
                <th>CODE</th>
                <th>DESCRIPTION</th>
            </tr>
            {% if details|length==0 %}
            <tr>
            <p>The database is empty.</p>
            </tr>
            {% else %}
            {% for detail in details %}
            <tr>
                <td>{{ detail['id'] }}</td>
                <td>{{ detail['code'] }}</td>
                <td>{{ detail['description'] }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    
    <h3>Value definition Table</h3>
        <table class="table table-dark table-striped" style="width:50%">
            <tr>
                <th>ID</th>
                <th>METRIC ID</th>
                <th>LABEL</th>
                <th>TYPE</th>
            </tr>
            {% for valueDef in valueDefs %}
            <tr>
                <td>{{ valueDef['id'] }}</td>
                <td>{{ valueDef['metric_code'] }}</td>
                <td>{{ valueDef['label'] }}</td>
                <td>{{ valueDef['type'] }}</td>
            </tr>
            {% endfor %}
        </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </center>
  </body>
</html>